<div class="row">
	<div class="col-md-8 col-md-offset-2" style="  color: #e25550;
    font-size: 35px;
    text-align: center;
    width: 66.6667%;">You do not have permission to access this page</div>
</div>

<div class="row">
	<div class="col-md-5 col-md-offset-4" style="font-size: 20px;
    text-align: center;width:36%;">
		<?php echo $this->Html->link("Back To Dashboard", array('action'=> '/')); ?>
	</div>
</div>