<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tagsom | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="<?php echo $this->webroot; ?>app/webroot/admin/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="<?php echo $this->webroot; ?>app/webroot/admin/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="<?php echo $this->webroot; ?>app/webroot/admin/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition login-page">
    <div class="login-box" style="padding-top:70px;">
      <div class="login-logo">
        <a href="javascript:void(0)"><b style="font-size: -webkit-xxx-large;">Tagsom</b> App</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
      	<?php echo $this->Flash->render(); ?>
      	<?php echo $this->Flash->render('auth'); ?>
        <p class="login-box-msg">Sign in to start your session</p>
        <?php echo $this->Form->create('User'); ?>
          <div class="form-group has-feedback">
          	<?php echo $this->Form->input('username',array('class'=>'form-control','placeholder'=>'Username','div'=>false,'label'=>false)); ?>
           
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
          	<?php echo $this->Form->input('password',array('class'=>'form-control','placeholder'=>'Password','div'=>false,'label'=>false)); ?>
   
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row" style="margin-left:5px;margin-right:-15px;">
            <div class="col-xs-8">
              

              <div class="checkbox icheck">
                <label>
                	<?php echo $this->Form->checkbox('remember_me'); ?> Remember Me
                  <!-- <input type="checkbox"> Remember Me -->
                </label>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
            	<?php echo $this->Form->submit('Sign In',array('class'=>'btn btn-primary btn-block btn-flat')); ?>
            </div><!-- /.col -->
          </div>
        <!-- </form> -->


        <!-- <a href="#">I forgot my password</a><br>
        <a href="register.html" class="text-center">Register a new membership</a> -->

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <script src="<?php echo $this->webroot; ?>app/webroot/admin/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="<?php echo $this->webroot; ?>app/webroot/admin/bootstrap/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="<?php echo $this->webroot; ?>app/webroot/admin/plugins/iCheck/icheck.min.js"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </body>
</html>